<% content_for :header do %>
  <% javascript_include_tag 'homepage.js' %>
<% end %>
<div id="vmap"></div>
<div class="d-flex justify-content-between align-items-center">
  <div class="col-md-6"><h1>Выберите регион</h1></div>
  <div class="col-md-6">
    <div class="buttons float-right">
      <%= link_to 'Существующие депутаты', deputies_path, class: "btn btn-primary" %>
      <% if can? :create, @deputy %>
        <%= link_to 'Добавить чиновника', new_deputy_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<table class="deputies table table-striped table-hover">
  <tr class="headline thead-dark ">
    <th>Имя Фамилия Отчество
      <small class="form-text sortby text-muted" data-sort-by="name">Sort by name</small>
    </th>
    <th>Должность</th>
    <th>Признак</th>
    <th>Ущерб</th>
    <th>Мера пресечения</th>
    <th>Отбывание наказания</th>
    <th>Дата</th>
    <th>Пруф линки</th>
  </tr>
</table>
