.well.pt-3
  .d-flex.justify-content-between.align-items-center
    h1.pl-2.pl-3
      | Существующие депутаты
    - if can? :create, @deputy
      = link_to 'Добавить', new_deputy_path, class: "btn btn-outline-success float-right mr-2"
  table.table.table-striped
    tr.thead-dark
      th
        | Фото
      th
        | Имя
      th
        | Фамилия
      th
        | Отчество
      th
        | Текущая должность
      th[colspan="3"]
    - @deputies.each do |deputy|
      tr
        td
          = image_tag(deputy.image.url(:thumb)) if deputy.image.exists?
        td
          = deputy.name
        td
          = deputy.surname
        td
          = deputy.patronymic
        td
          = deputy.current_position
        td
          = link_to 'Все дела', deputy_path(deputy), class: "btn btn-info"
        td
          - if can? :edit, @deputy
            = link_to 'Изменить', edit_deputy_path(deputy), class: "btn btn-warning"
        td
          - if can? :delete, @deputy
            = link_to 'Удалить', deputy_path(deputy), method: :delete, class: "btn btn-danger", data: {confirm: 'Are you sure?'}
