= form_with model: @deed, class: 'form-group', local: true do |f|
  .form-group
    = f.label :deputy_id, "Депутат"
    = f.collection_select :deputy_id, Deputy.order(:name), :id, :full_name, {:prompt => "Выберите депутата", :selected => params[:deputy_id]}, {:class => "form-control"}
  .form-group
    = f.label :position, "Позиция"
    = f.text_field :position, class: "form-control", placeholder: "Министерство внутренних дел РФ", required: true
    small.form-text.text-muted
      | Должность на момент совершения правонарушения
  .form-group
    = f.label :sign, "Признак"
    = f.text_field :sign, class: "form-control", placeholder: "Получение взятки", required: true
  .form-group
    = f.label :detriment, "Ущерб"
    = f.number_field :detriment, class: "form-control", placeholder: "200000", required: true
    small.form-text.text-muted
      | Введите сумму в рублях
  .form-group
    = f.label :punishment, "Мера пресечения"
    = f.text_field :punishment, class: "form-control", placeholder: "Домашний арест", required: true
  .form-group
    = f.label :status, "Статус"
    = f.text_field :status, class: "form-control", placeholder: "Дело закрыто", required: true
  .form-group
    = f.label :date
    = f.date_field :date, class: "form-control", required: true
  .form-group
    = f.label :region_id
    = f.collection_select :region_id, Region.order(:region_value), :id, :region_value, {:prompt => "Выберите регион"}, {:class => "form-control selectpicker", required: true}
  .form-group
    = f.label :links
    = f.text_field :links, class: "form-control", placeholder: "https://ria.ru/infografika/20161117/1481606950.html", required: true, multiple: true
    .btn.btn-info.proof-link +

  = f.button :Submit, class: "btn btn-primary"

